.content {
  background-color: var(--white);
  border-radius: 12px;
  height: calc(100vh - 166px);
  box-shadow: 0 2px 4px 0 rgba(var(--black), 0.05);
}

.content__title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: var(--grey-4);
  margin-left: 48px;
  margin-top: 32px;
  margin-bottom: 24px;
}